<flow xmlns="http://www.springframework.org/schema/webflow"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/webflow
                          http://www.springframework.org/schema/webflow/spring-webflow.xsd">

    <input name="cartid" />

    <on-start>
        <evaluate expression="(cartid, User.username)" 
                  result="flowScope.viewcart" />
    </on-start>

    <view-state id="cart">
        <transition on="submit" to="viewcart" />
    </view-state>

    <view-state id="reviewcartdetails">
       <!--  <transition on="addGuest" to="addGuest" />  -->
        <transition on="confirm" to="checkout" />
        <transition on="revise" to="acknowledgement" />
        <transition on="cancel" to="acknowledgement" />
    </view-state>

    <subflow-state id="addGuest" subflow="createGuest">
        <transition on="guestCreated" to="reviewBooking">
            <evaluate expression="booking.guests.add(currentEvent.attributes.guest)" />  
        </transition>
        <transition on="creationCancelled" to="reviewBooking" />
    </subflow-state>
		
    <end-state id="acknowledgement" >
        <output name="orderid" value="order.orderid" />
    </end-state>

    <end-state id="cartCancelled" />
		
</flow>		
